.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color:  #242b2c;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  border-radius: 0 !important;
  margin:0px auto;
  height: 90vh;
  background-image: url('./shared/images/jumbotron.jpg');
  color:floralwhite;
}

.jumbotext{
  margin: -30px 10px 10px 10px;
}

address{
  font-size:80%;
  margin:0px;
  color:#fffefe;
}

.navbar-dark {
  background-color: #242b2c;
  color: #feffff;
}

.requestForm{
  background-color: rgb(206, 207, 207);
}

.requestFormButton{
  background-color: #242b2c;
}