.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color:  #242b2c;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  /* padding:2vh 2vh 2vh 2vh; */
  border-radius: 0 !important;
  margin:0px auto;
  background-image: url('./shared/images/jumbo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:floralwhite;
}

.jumbotext{
  /* padding: 1rem 1rem 1rem 1rem; */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 6vh;
}

address{
  font-size:80%;
  margin:0px;
  color:#fffefe;
}

.navbar-dark {
  background-color: #242b2c;
}

.request_form{
  border-top: 2vh solid rgb(2, 194, 194);
  padding: 2rem 2rem 2rem 2rem;
  background-color: white;
  color: rgb(85, 85, 85);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.requestFormButton{
  background-color: rgb(2, 194, 194);
  border: none;
}

.requests-wrapper{
  padding: 20px auto;
}

.pending_request{
  padding: 20px 10px 20px 10px;
}

@media screen and (max-width: 1030px) {
  .jumbotext{
    padding: inherit;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 3vh;
  }
}

@media screen and (max-width: 700px) {
  .jumbotext{
    padding-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    position: inherit;
    top: auto;
    transform: inherit;
    font-size: 3vh;
    color: rgb(7, 7, 7);
    font-weight: bold;
  }
}


/* .nav-link{
  border: none;
  color:rgb(3, 233, 233);
  background-color: inherit;
}

.nav-link:hover{
  outline: none;
  color: rgb(0, 217, 255);
  text-decoration: none;
  background-color: inherit;
}

.nav-link:active{
  outline: none;
  border: none;
  color:rgb(3, 233, 233);
  background-color: inherit;
}

.nav-link:focus{
  outline: none;
  border: none;
  color:rgb(3, 233, 233);
  background-color: inherit;
}

.nav-link:visited{
  outline: none;
  border: none;
  color:rgb(3, 233, 233);
  background-color: inherit;
}
 */
